<ion-view view-title="Login">
  <ion-content class="padding">
    <button class="button button-block button-assertive" ng-click="authCtrl.googleLogin()">
      <i class="fa fa-google"></i> Google
    </button>

    <button class="button button-block button-positive" ng-click="authCtrl.facebookLogin()">
      <i class="fa fa-facebook"></i> Facebook
    </button>

    <button class="button button-block button-calm" ng-click="authCtrl.twitterLogin()">
      <i class="fa fa-twitter"></i> Twitter
    </button>

  </ion-content>
</ion-view>